<div class="panel panel-default">
	<div class="panel-heading">
        <get-data change-by-one="$ctrl.getData" next="$ctrl.next" prev="$ctrl.prev"></get-data>
		<!---->
        <!--<div class="btn-group pull-right">
            <button class="btn btn-primary" ng-click="$ctrl.getData(-1)" ng-disabled="!$ctrl.prev">PREV</button>
            <button class="btn btn-primary" ng-click="$ctrl.getData(1)" ng-disabled="!$ctrl.next">NEXT</button>
        </div>-->
		<h3>Star Wars People</h3>
	</div>
	<div class="panel-body">
		<div class="text-center">
			<star-wars-person ng-repeat="person in $ctrl.people track by $index" person="person"></star-wars-person>
		</div>
	</div>
</div>
